<div class="relative">
    <div class="bg-[#00182A] px-8   py:4 md:px-34  md:py-8 ">
        <p class="text-white md:leading-[100%] md:text-[2.5rem] text-lg font-normal">Portfolio</p>
    </div>
    <div class=" px-8   py:4 md:px-34  md:py-24 grid grid-cols-2 gap-16 place-content-around content-center">
        <div
            class=" lg:max-w-[38.63rem] bg-white border border-gray-200 p-[2.5rem] rounded-[2vw] shadow-sm dark:bg-gray-800 dark:border-gray-700  ">
            <img class="w-full transition-transform duration-300 hover:scale-60" [src]="flipIcon" alt="" />

            <div class="py-5 flex items-center justify-between">
                <button class=" hover:bg-[#285ACA] w-[11rem] h-[3.38rem] rounded-full border border-white ">
                    <span class="text-white">Get Started</span>
                </button>
                <button
                    class=" w-[3.5rem] h-[3.5rem] r-2 hover:bg-[#285ACA] p-3 rounded-lg transition-all duration-300 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="white" class="w-8 h-8 text-center transition-transform duration-300 hover:scale-60">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                </button>
            </div>
            <p class="py-2 text-lg md:text-[1.38rem/[3.75rem] text-white font-bold font-[AeonikTRIAL-Bold]">Branding and
                Strategy</p>
            <p class="py-4 text-white md:text-sm/[1.25rem] text-xs font-normal">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div
            class=" lg:max-w-[38.63rem] bg-white border border-gray-200 p-[2.5rem] rounded-[2vw] shadow-sm dark:bg-gray-800 dark:border-gray-700  ">
            <img class="w-full transition-transform duration-300 hover:scale-60" [src]="norvaSingleIcon" alt="" />

            <div class="py-5 flex items-center justify-between">
                <button class=" hover:bg-[#285ACA] w-[11rem] h-[3.38rem] rounded-full border border-white ">
                    <span class="text-white">Get Started</span>
                </button>
                <button
                    class=" w-[3.5rem] h-[3.5rem] r-2 hover:bg-[#285ACA] p-3 rounded-lg transition-all duration-300 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="white" class="w-8 h-8 text-center transition-transform duration-300 hover:scale-60">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                </button>
            </div>
            <p class="py-2 text-lg md:text-[1.38rem/[3.75rem] text-white font-bold font-[AeonikTRIAL-Bold]">Branding and
                Strategy</p>
            <p class="py-4 text-white md:text-sm/[1.25rem] text-xs font-normal">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div
            class=" lg:max-w-[38.63rem] bg-white border border-gray-200 p-[2.5rem] rounded-[2vw] shadow-sm dark:bg-gray-800 dark:border-gray-700  ">
            <img class="w-full transition-transform duration-300 hover:scale-60" [src]="spleetIcon" alt="" />

            <div class="py-5 flex items-center justify-between">
                <button class=" hover:bg-[#285ACA] w-[11rem] h-[3.38rem] rounded-full border border-white ">
                    <span class="text-white">Get Started</span>
                </button>
                <button
                    class=" w-[3.5rem] h-[3.5rem] r-2 hover:bg-[#285ACA] p-3 rounded-lg transition-all duration-300 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="white" class="w-8 h-8 text-center transition-transform duration-300 hover:scale-60">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                </button>
            </div>
            <p class="py-2 text-lg md:text-[1.38rem/[3.75rem] text-white font-bold font-[AeonikTRIAL-Bold]">Branding and
                Strategy</p>
            <p class="py-4 text-white md:text-sm/[1.25rem] text-xs font-normal">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div
            class=" lg:max-w-[38.63rem] bg-white border border-gray-200 p-[2.5rem] rounded-[2vw] shadow-sm dark:bg-gray-800 dark:border-gray-700  ">
            <img class="w-full transition-transform duration-300 hover:scale-60" [src]="norvaSingleIcon" alt="" />

            <div class="py-5 flex items-center justify-between">
                <button class=" hover:bg-[#285ACA] w-[11rem] h-[3.38rem] rounded-full border border-white ">
                    <span class="text-white">Get Started</span>
                </button>
                <button
                    class=" w-[3.5rem] h-[3.5rem] r-2 hover:bg-[#285ACA] p-3 rounded-lg transition-all duration-300 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="white" class="w-8 h-8 text-center transition-transform duration-300 hover:scale-60">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                </button>
            </div>
            <p class="py-2 text-lg md:text-[1.38rem/[3.75rem] text-white font-bold font-[AeonikTRIAL-Bold]">Branding and
                Strategy</p>
            <p class="py-4 text-white md:text-sm/[1.25rem] text-xs font-normal">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

    </div>
    <div class="flex justify-center items-center  py-16">
        <button class="bg-[#098EF3] hover:bg-[#285ACA] md:w-[31.25rem] w-full  md:h-[7.5rem]  rounded-[2vw] ">
            <span class="text-white text-sm md:text-[1.63rem]/[100%] font-bold font-[AeonikTRIAL-Bold]">View More Projects</span>
    </button>
    </div>

</div>