<div class="bg-[#DBEFFF] hidden md:block pb-8">
    <div class="relative size-screen py-[8rem] md:py-[12.7rem] px-4 ">
        <div class="absolute inset-x-0 bottom-0 h-16   flex justify-between items-center px-24 pb-12">
            <div >
                <img  [src]="norvaFooterIcon" alt="norvaFooterIcon">
            </div>
           <div >
            <ul class="list-none flex text-[#1C1C1C] justify-between font-normal text-sm/[100%] space-x-16"> 
                <li class="">Home</li>
                <li class="">Services</li>
                <li class="">About Us</li>
                <li class=""> Portfolio</li>
            </ul>
           </div>
            <div >
                <ul class="list-none flex text-white justify-between font-normal text-sm/[100%] space-x-4"> 
                    <li class="">
                        <img [src]="instaFooterIcon" alt="instaFooterIcon">
                    </li>
                    <li class="">
                        <img [src]="xFooterIcon" alt="xFooterIcon">
                    </li>
                    <li class="">
                        <img [src]="youtubeFooterIcon" alt="youtubeFooterIcon">
                    </li>
                    <li class=""> 
                        <img [src]="facebookFooterIcon" alt="facebookFooterIcon">
                    </li>
                </ul>
            </div>
    
        </div>
    </div>
    <hr class="w-screen bg-[#098EF3] text-[#098EF3]">
</div>
