<div class="flex justify-center   items-center hidden  xl:flex " > 
    <div  class="bg-[#00182A80] flex justify-between items-center blur-60   rounded-full md:w-1/2 md:w-[57.5rem] md:w:[7rem] py-5 px-4  ">
        <div class="w-1/5 pl-4">
            <img  [src]="norvaWhite" alt="NorvaWhite">
        </div>
       <div class="3/5">
        <ul class="list-none flex text-white justify-between font-normal text-sm/[100%] space-x-16"> 
            <li class="">Home</li>
            <li class="">Services</li>
            <li class="">About Us</li>
            <li class=""> Portfolio</li>
        </ul>
       </div>
        <div class="1/5 pl-4">
            <button class="bg-[#098EF3] hover:bg-[#285ACA] w-[13.75rem] h-[4.5rem] rounded-full ">
                    <span class="text-white">Get Started</span>
            </button>
        </div>
       
    </div>
</div>