<div class="relative">
    <div class="bg-[#00182A] px-8   py:4 md:px-34  md:py-8 ">
        <p class="text-white md:leading-[100%] py-8 md:text-[2.5rem] text-lg font-normal font-[AeonikTRIAL-Bold]">FAQs
        </p>
    </div>
    <div class="grid grid-cols-2 gap-16 place-content-around content-center  md:mx-[24rem]  ">
        <div>
            <p class="text-lg md:text-[3rem]/[100%] text-[#098EF3] font-bold p-4">Frequently Asked Questions</p>
            <p class="text-base md:text-[1.38rem]/[100%] font-normal p-4">Have more questions? Reach out to us, and our
                team will be happy to assist you!</p>
            <div class="p-4">
                <button class="bg-[#00182A] hover:bg-[#098EF3] w-[14.38rem] h-[4.38rem] rounded-2xl ">
                    <span class="text-white">Contact us</span>
                </button>
            </div>
        </div>
        <div>
            <!-- accordion container -->
            <div id="accordion-collapse" class="p-8" data-accordion="collapse">
                <h2 id="accordion-collapse-heading-1">
                    <button type="button"
                        class="flex items-center justify-between w-full p-5 bg-[#1C1C1C] !border-0 font-medium !focus:border-0 rtl:text-right text-white border   rounded-xl focus:ring-0  dark:focus:ring-0 dark:border-0 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                        data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
                        aria-controls="accordion-collapse-body-1">
                        <span class="text-white">What services does Norva offer?</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#098EF3" class="size-6 ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                          
                    </button>
                </h2>
                <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                        <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of
                            interactive components built on top of Tailwind CSS including buttons, dropdowns, modals,
                            navbars, and more.</p>
                        <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a
                                href="/docs/getting-started/introduction/"
                                class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start
                            developing websites even faster with components on top of Tailwind CSS.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>