<div class="relative">
    <div class="bg-[#00182A] px-8   py:4 md:px-34  md:py-8 ">
        <p class="text-white md:leading-[100%] md:text-[2.5rem] text-lg font-normal">Our Services</p>
    </div>
    <div class=" px-8   py:4 md:px-34  md:py-24">
       <ul class="list-none flex space-x-8">
        <li class="">
            <p class="font-normal md:text-[3.13rem]/[6.63rem] transition-transform duration-300 hover:text-[#098EF3] hover:-translate-y-6 text-lg text-[#1C1C1C]">Branding</p>
        </li>
        <li class="">
          <img class="h-[6rem]" [src]="verticalLine" alt="">
        </li>
        <li class="">
            <p class="font-normal md:text-[3.13rem]/[3.75rem] hover:text-[#098EF3] text-lg text-[#1C1C1C]">Web Design & Development</p>
        </li>
        <li class="">
          <img class="h-[6rem]" [src]="verticalLine" alt="">
        </li>
        <li class="">
            <p class="font-normal md:text-[3.13rem]/[3.75rem] text-lg hover:text-[#098EF3] text-[#1C1C1C]">Marketing Strategies</p>
        </li>
       </ul>
       <p class=" py-12 md:text-[3.13rem]/[3.75rem] hover:text-[#098EF3] font-normal  text-lg text-[#1C1C1C] flex-0">
        Social Media <br> Management
    </p>
    </div>
    <div class="absolute top-[15rem] right-0">
        <img class="w-[20rem] drop-shadow-[0_0_1px_#DBEFFF]" [src]="backgroundServiceIcon" alt="">

    </div>    
    
</div>
