<div class="relative pb-12">
    <div class="bg-[#00182A] px-8   py:4 md:px-34  md:py-8 ">
        <p class="text-white md:leading-[100%] md:text-[2.5rem] text-lg font-normal">Testimonials</p>
    </div>
    <p class="md:text-[3rem]/[100%] font-bold  text-lg p-8 text-center">
        <span class="text-[#098EF3] text-center ">Trusted By</span> Startups and Thriving Companies
    </p>

    <div class="grid grid-cols-2 gap-16 place-content-around content-center  md:mx-[9rem]   ">

        <div class="group">
            <div
                class="max-w-2xl   group-hover:bg-[#1C1C1C] p-6 bg-[#DBEFFF] border border-[#DBEFFF] rounded-lg  shadow-sm dark:bg-[#DBEFFF] dark:border-[#DBEFFF] md:h-[15.13rem] ">

                <p class="mb-3 font-normal group-hover:text-white text-[#1C1C1C] text-base/[100%] p-6 dark:text-[#1C1C1C]">
                    Norva transformed our brand! Their strategic approach and creativity helped us stand out in a crowded
                    market.
                </p>
                <hr class="text-gray-700 font-bold border-2 group-hover:text-white ">
                <div class="flex justify-start items-center space-x-4 p-4">
                    <div>
                        <img [src]="micah" alt="">
                    </div>
                    <div class="font-normal">
                        <strong class="text-[#098EF3] text-[1.5rem]/[100%] text-lg">Micah Eldon</strong>
                        <p class="text-sm/[100%] group-hover:text-white ">CEO of BrightTech</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div
                class="max-w-2xl   group-hover:bg-[#1C1C1C] p-6 bg-[#DBEFFF] border border-[#DBEFFF] rounded-lg  shadow-sm dark:bg-[#DBEFFF] dark:border-[#DBEFFF] md:h-[15.13rem] ">

                <p class="mb-3 font-normal group-hover:text-white text-[#1C1C1C] text-base/[100%] p-6 dark:text-[#1C1C1C]">
                    Norva transformed our brand! Their strategic approach and creativity helped us stand out in a crowded
                    market.
                </p>
                <hr class="text-gray-700 font-bold border-2 group-hover:text-white ">
                <div class="flex justify-start items-center space-x-4 p-4">
                    <div>
                        <img [src]="ater" alt="">
                    </div>
                    <div class="font-normal">
                        <strong class="text-[#098EF3] text-[1.5rem]/[100%] text-lg">Micah Eldon</strong>
                        <p class="text-sm/[100%] group-hover:text-white ">CEO of BrightTech</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div
                class="max-w-2xl   group-hover:bg-[#1C1C1C] p-6 bg-[#DBEFFF] border border-[#DBEFFF] rounded-lg  shadow-sm dark:bg-[#DBEFFF] dark:border-[#DBEFFF] md:h-[15.13rem] ">

                <p class="mb-3 font-normal group-hover:text-white text-[#1C1C1C] text-base/[100%] p-6 dark:text-[#1C1C1C]">
                    Norva transformed our brand! Their strategic approach and creativity helped us stand out in a crowded
                    market.
                </p>
                <hr class="text-gray-700 font-bold border-2 group-hover:text-white ">
                <div class="flex justify-start items-center space-x-4 p-4">
                    <div>
                        <img [src]="ava" alt="">
                    </div>
                    <div class="font-normal">
                        <strong class="text-[#098EF3] text-[1.5rem]/[100%] text-lg">Micah Eldon</strong>
                        <p class="text-sm/[100%] group-hover:text-white ">CEO of BrightTech</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div
                class="max-w-2xl   group-hover:bg-[#1C1C1C] p-6 bg-[#DBEFFF] border border-[#DBEFFF] rounded-lg  shadow-sm dark:bg-[#DBEFFF] dark:border-[#DBEFFF] md:h-[15.13rem] ">

                <p class="mb-3 font-normal group-hover:text-white text-[#1C1C1C] text-base/[100%] p-6 dark:text-[#1C1C1C]">
                    Norva transformed our brand! Their strategic approach and creativity helped us stand out in a crowded
                    market.
                </p>
                <hr class="text-gray-700 font-bold border-2 group-hover:text-white ">
                <div class="flex justify-start items-center space-x-4 p-4">
                    <div>
                        <img [src]="donye" alt="">
                    </div>
                    <div class="font-normal">
                        <strong class="text-[#098EF3] text-[1.5rem]/[100%] text-lg">Micah Eldon</strong>
                        <p class="text-sm/[100%] group-hover:text-white ">CEO of BrightTech</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>